/*Fonts*/
$font-opensans: "Open Sans", sans-serif;

/*Font-size*/
$heading-font: 28px;
$heading-menu: 20px;
$extra-small-font: 10px;
$powered-font: 9px;
$small-font: 12px;
$font-thirteen: 13px;
$menu-font: 21px;
$big-title-font: 22px;
$medium-font: 16px;
$title-font: 17px;
$primary-font: 18px;
$sub-text: 14px;
$cart_title: 20pt;

/*Colors*/
$border-color: #ced4da;
$powered-color: #464646;
$primary-color: #fe0000;
$active-color: #ffcece;
$light-green: #ebffe8;
$white-color: #ffffff;
$grey-color: #7f7f7f;
$body-color: #f7f7f7;
$green: #3bce28;
$head-title: #484848;
$header-text: #858585;
$red-text: #fe0707;
$line-color: #707070;
$logo-border: #d3d3d3;
$logo-bg: #eef0f2;
$light-line: #f0f0f0;
$blue-bg: #367fc0;
